body, html {
    color: white;
    background-color: rgb(30, 31, 33);
    font-family: "Cousine", monospace;
}

#header {
    width: 95%;
    margin: auto;
    padding: 20px;
}

#header:after {
    content: "";
    display: table;
    clear: both;
}

#btm {
    width: 95%;
    margin: auto;
    padding: 20px;
    position: fixed;
    top: calc(100% - 90.33px);
}

#btm:after {
    content: "";
    display: table;
    clear: both;
}

#h-lft > *, #h-rgt > * {
    color: white;
    display: inline;
    font-size: 18px;
}

#h-lft > *::after, #h-rgt > *::before {
    content: "\00a0\00a0";
}

#h-lft {
    float: left;
}

#h-rgt {
    float: right;
}

a, a:visited {
    font-weight: bold;
    text-decoration: none;
    color: white;
}

a:not(#unc)::after {
    content: "\00a0\2197";
}

#contentmain {
    width: 80%;
    margin: auto;
    padding: 20px;
    text-align: center;
}